@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

a.active hr{
    display: block;
}

*{
    font-family: Raleway;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}


